**/*.o
libframe/libframe.a
libmsg/libmsg.a
libXg/libXg.a
libframe/Makefile
libmsg/Makefile
libXg/Makefile
**/*.log
wily/wily
Makefile
config.cache
config.h
config.status
configure.ac
config.h.in
configure
autom4te.cache/
tools/win/Tags
tags
